/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

body {
  font-family: "Euclid Circular B";
  font-weight: 500;
  overflow-x: hidden;
}

header {
  padding: 30px 0;
  background-color: #f5f5f5;
}

.container {
  margin: 0 165px;
}
.content {
  display: flex;
  gap: 125px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo h2 {
  font-size: 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__connection img {
  transition: all 0.2s;
}
.header__connection .btn__form {
  transition: all 0.5s;
}
.header__connection img:hover {
  transform: scale(1.05);
}
.header__connection .btn__form {
  margin-left: 32px;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #ffdf31;
}
.container h1 {
  font-size: 72px;
  font-weight: 500;
  margin-top: 72px;
  margin-bottom: 48px;
}
.form {
  width: 540px;
}

.form__field {
  margin-bottom: 13px;
}
.form__field select {
  cursor: pointer;
  display: block;
  border-radius: 8px;
  background-color: #f5f5f5;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 16px;
}
.select__job {
  position: relative;
  appearance: none;
  background: url("../images/SelectionStrelka.svg") no-repeat right;
}

.form__field label {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 12px;
}
.form__field .label__vacation.active__label::after,
.form__field .label__fio.active__label::after,
.form__male .male.active__label::after,
.form__date .label__date.active__label::after,
.form__num .label__num.active__label::after,
.form__email .label__email.active__email::after {
  content: url("../images/ГалкаУспешно.svg");
  margin-left: 5px;
}
select {
  color: grey;
}
.block {
  width: 400px;
  height: 300px;
  background-color: aqua;
}

.input__fio {
  display: block;
  border-radius: 8px;
  background-color: #f5f5f5;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 16px;
}

.form__fields label {
  display: inline-block;
  margin-bottom: 12px;
}
.form__fields {
  margin-bottom: 16px;
}

.form__fields input {
  background-color: #f5f5f5;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 8px;
  display: block;
  width: 100%;
}
.input__date {
  cursor: pointer;
}
.input__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 32px;
}
.input__male {
  display: flex;
  gap: 12px;
}
.male__inputs {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.options__label {
  padding-left: 35px;
  align-items: center;
  display: inline-flex;
  position: relative;
  line-height: 170%;
  cursor: pointer;
}
.options__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.options__input:checked + .options__label::after {
  transform: scale(1);
}

.options__label::after {
  transition: transform 0.2s ease;
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  background-color: black;
  border-radius: 50%;
  transform: scale(0);
}

.input__male input {
  appearance: none;
  display: none;
}

.form__male {
  align-self: stretch;
}
.input__male label {
  margin: 0;
}
.swiper__btn_prev,
img {
  z-index: 21;
  position: relative;
}

.options__label {
  display: inline-flex;
  align-items: center;
}
select,
.form__fields input,
.input__rezyme textarea {
  font-family: "Euclid Circular B";
  font-weight: 500;
}
select option {
  font-weight: 400;
  font-family: "Euclid Circular B";
}

.form__date {
  position: relative;
}
.form__email,
.form__num,
.form__male,
.form__date {
  width: 100%;
}
.input__date {
  appearance: none;
  width: 100%;
  color: black;
  display: block;
}
#input__date {
  appearance: none;
  width: 100%;
  color: black;
  display: block;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
.male__container div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.male__container label {
  margin-bottom: 0;
}
.form__column1 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  gap: 30px;
}

.form__column2 {
  display: flex;
  width: 100%;
  gap: 30px;
}
.input__rezyme {
  margin-bottom: 10px;
}

.input__rezyme textarea {
  padding: 10px;
  resize: none;
  display: block;
  width: 100%;
  height: 94px;
  background-color: #f5f5f5;
  border-radius: 8px;
  font-size: 16px;
}
.input__rezyme label {
  display: block;
  margin-bottom: 12px;
}
.input__rezyme input {
  display: block;
  margin-bottom: 12px;
}
.input__file label {
  display: block;
  font-size: 18px;
  padding: 12px 16px;
  background-color: #f5f5f5;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 8px;
  cursor: pointer;
}
.input__file span {
  opacity: 0.3;
  font-size: 14px;
}
.input__file span:first-child {
  margin-right: 12px;
}
.input__file input {
  width: 0;
  opacity: 0;
}

.capcha__container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 12px 16px;
  border-radius: 8px;
}
.capcha__btn {
  display: flex;
  align-items: center;
  gap: 12px;
}
.capcha {
  margin-bottom: 24px;
}

.capcha__container .checkbox__label {
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-color: white;
  margin: 0;
}
.checkbox__label.active__label {
  background: url("../images/Confirm.svg") no-repeat center;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-color: white;
  margin: 0;
}
#checkbox {
  display: none;
}
.capcha__btn .label__capcha {
  margin: 0;
}
.capcha__content {
  display: flex;
  gap: 30px;
  align-items: center;
}
.capcha label {
  display: block;
  margin-bottom: 12px;
}

.capcha__opacity p {
  opacity: 0.3;
}

.confirm {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  align-items: center;
}
#checkboxConfirm {
  display: none;
}
.label__confirm.active__label {
  background: url("../images/Confirm.svg") no-repeat center;
  width: 24px;
  height: 24px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.label__confirm {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.submit {
  width: 100%;
  font-size: 18px;
  padding: 12px 223px;
  border-radius: 8px;
  color: black;
  margin-bottom: 72px;
}

.contacts h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}
.contacts p {
  font-size: 18px;
  margin-bottom: 24px;
}
.contacts a {
  display: block;
  font-size: 24px;
  width: 100%;
  padding: 22px 125px;
  background-color: #f5f5f5;
  border-radius: 8px;
  color: black;
}

footer {
  background-color: #f5f5f5;
  padding: 73px 0 0 0;
  position: relative;
}

.footer__elements {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
}
.footer__logo h2 {
  font-size: 20px;
  font-weight: 500;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__share {
  font-size: 20px;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-out;
}

.footer__politics {
  padding: 24px 0 32px 0;
  display: flex;
  font-size: 14px;
}
.footer__politics p {
  font-weight: 500;
  margin-right: 160px;
}
.footer__politics button {
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-out;
  margin: 0 auto;
  color: black;
}

.footer__politics button:hover {
  transform: scale(1.01);
}

.footer__share:hover {
  transform: scale(1.01);
}

.popup {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  padding: 72px 145px 72px 165px;
}
.popup__content {
  border-radius: 8px;
  background-color: white;
}
.popup__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 500;
  padding: 30px 33px 0 95px;
}

.popup__title {
  display: none;
}
.popup__title.active {
  display: block;
}
.popup__header.active {
  z-index: 200;
  position: sticky;
  overflow: hidden;
  background-color: white;
  top: 0;
  justify-content: space-between;
  padding: 30px 33px 30px 95px;
}
.popup__header button {
  background-color: white;
}

.popup__header button {
  background-color: white;
  transition: all 0.3s ease-out;
}
.popup__header button:hover {
  transform: scale(1.1);
}

.main__content {
  margin: 16px 95px 0 95px;
}
.main__content h1 {
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 48px;
}
.section__content {
  margin-bottom: 48px;
}
.section__title {
  margin-bottom: 24px;
  font-size: 18px;
}
.section__content p {
  font-size: 14px;
  font-weight: 400;
}
.section__attention {
  margin-top: 20px;
  opacity: 0.5;
}
.section__content:last-child p {
  padding-bottom: 72px;
}

.form__email ._error {
  background-color: #ff6666;
  opacity: 0.3;
}
.input__fio._error {
  background-color: #ff6666;
  opacity: 0.3;
}

.form__email p {
  opacity: 0;
}
.form__email._error_podpis p {
  opacity: 1;
  font-size: 14px;
  color: #ff6666;
}

.fio__error {
  opacity: 0;
}
._error_podpis .fio__error {
  opacity: 1;
  font-size: 14px;
  color: #ff6666;
}
.form__num p {
  opacity: 0;
}
.form__num._error_podpis p {
  opacity: 1;
  display: block;
  font-size: 14px;
  color: #ff6666;
}
._error_podpis ._error {
  background-color: #ff6666;
  opacity: 0.3;
}

.form__date p {
  opacity: 0;
}
.form__date._error_podpis p {
  opacity: 1;
  color: #ff6666;
}
.confirm._error_podpis label {
  color: #ff6666;
}
.confirm._error_podpis .label__confirm {
  opacity: 0.3;
  background-color: #ff6666;
}
.capcha__btn._error_podpis label {
  color: #ff6666;
}
.capcha__btn._error_podpis .checkbox__label {
  opacity: 0.3;
  background-color: #ff6666;
}

.form__field._error_podpis .error__job {
  opacity: 1;
  color: #ff6666;
}
.form__field .error__job {
  opacity: 0;
}

/* .input__male._error_podpis label {
  color: #ff6666;
} */
.male__inputs p {
  opacity: 0;
}
.male__inputs.active p {
  opacity: 1;
  color: #ff6666;
}

main.active {
  display: none;
}

/* main active #####################################*/
#successfully {
  display: none;
}
#successfully.active {
  display: block;
}
.successfully .content {
  display: flex;
  align-items: center;
}

.content__wait {
  max-width: 540px;
}
.content__wait p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}
.border__left {
  border-left: 3px solid #ffdf31;
  padding: 0 0 0 12px;
}
.border__left p {
  font-size: 14px;
}

.content__feebback h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}
.content__feebback a {
  text-align: center;
  display: block;
  background-color: #f5f5f5;
  border-radius: 8px;
  font-size: 24px;
  color: black;
  padding: 22px 125px;
  transition: all 0.3s ease;
}
.content__feebback a:hover {
  transform: scale(1.02);
}
.header__logo h2 {
  font-weight: 500;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.submit {
  font-weight: 500;
  transition: all 0.3s ease;
}
.submit.activ {
  background-color: #ffdf31;
}
.submit.activ:hover {
  transform: scale(1.02);
}
.popup.active .popup__body {
  animation: popup 1s;
}
@keyframes popup {
  from {
    /* transform: translateY(-50px); */
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 1195px) {
  .popup__body {
    padding: 72px 40px;
  }
}
@media (max-width: 1016px) {
  .popup__header.active {
    padding: 32px 24px;
  }
  .main__content h1 {
    margin-top: -22px;
  }
  .main__content {
    margin: 0 24px;
  }
}

@media (max-width: 600px) {
  .popup__header.active {
    padding: 21px 32px 21px 14px;
  }
  .popup__body {
    padding: 0;
  }
  .main__content h1 {
    margin-top: 5px;
    margin-bottom: 32px;
    font-size: 48px;
  }
  .main__content {
    margin: 0 14px;
  }
  .popup__content {
    border-radius: 0;
  }
  .section__content {
    margin-bottom: 0;
  }
  .section__content:last-child p {
    padding-bottom: 30px;
  }
  .popup__title.active {
    font-size: 20px;
  }
}
@media (max-width: 1445px) {
  .container {
    margin: 0 60px;
  }
}
@media (max-width: 1235px) {
  .content__wait .porfessional__skils {
    margin-bottom: 0;
  }
  .footer {
    position: static;
  }
  .content__wait {
    max-width: 100%;
  }
  .content__feebback a {
    margin-bottom: 72px;
    padding: 22px 0;
  }
  .content {
    flex-direction: column;
    gap: 72px;
  }
  .submit {
    margin-bottom: 0;
  }
  .form {
    max-width: 100%;
    width: 100%;
  }
  section.contacts {
    width: 100%;
    margin-bottom: 72px;
  }
  .contacts br {
    display: none;
  }
  .contacts a {
    text-align: center;
  }
}
@media (max-width: 819px) {
  .container {
    margin: 0 39px;
  }
}
@media (max-width: 689px) {
  .contacts a {
    display: block;
    white-space: nowrap;
    padding: 22px 0;
  }
  .submit {
    text-align: center;
    padding: 12px 0;
  }
  .container {
    margin: 0 15px;
  }
  .container h1 {
    font-size: 48px;
    margin-top: 48px;
  }
  header {
    padding: 24px 0;
  }
  .footer__politics {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .footer__politics button {
    margin: 0;
    text-align: left;
  }
  .footer__share {
    display: none;
  }
}

@media (max-width: 521px) {
  #successfully h1 {
    margin-bottom: 32px;
  }
  .content__feebback h2 {
    font-size: 24px;
  }
  .content__feebback a {
    margin-bottom: 48px;
  }
  .form__column1 {
    flex-direction: column;
    gap: 13px;
  }
  .input__container {
    width: 100%;
    gap: 91px;
  }
  .form__column2 {
    flex-direction: column;
    gap: 13px;
  }
  .contacts h2 {
    font-size: 24px;
  }
  .content {
    gap: 48px;
  }
  section.contacts p:nth-child(4) {
    margin-bottom: 32px;
  }
  section.contacts {
    margin-bottom: 48px;
  }
  footer {
    padding-top: 48px;
  }
}
@media (max-width: 462px) {
  .capcha__content {
    flex-direction: column;
    align-items: stretch;
  }
  .capcha__container {
    width: 100%;
  }
  footer .container {
    margin: 0;
  }
  .footer__elements {
    border-radius: 0;
    padding: 24px 15px;
  }
  .footer__politics {
    margin-left: 15px;
  }
}
@media (max-width: 382px) {
  .footer__elements {
    flex-direction: column;
    gap: 24px;
  }
  .footer__logo {
    align-self: flex-start;
  }
  .footer__icons {
    align-self: flex-start;
  }
}
