/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

body {
  font-family: "Euclid Circular B";
  font-weight: 500;
}

header {
  padding: 25px 0;
}

.container {
  margin: 0 165px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo h2 {
  font-size: 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__connection a {
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.header__connection button {
  margin-left: 32px;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #ffdf31;
}

.greetings {
  background-color: #f5f5f5;
  margin-bottom: 72px;
}
.greetings h1 {
  font-size: 72px;
  font-weight: 500;
  width: 445px;
}

.swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.greetings .container {
  margin: 0 330px 0 0;
}
.swiper .active {
  transform: rotate(180deg);
}
.swiper__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 62px;
  margin: 48px 0;
}
.swiper__btn {
  display: flex;
  justify-content: space-between;
  width: 88px;
  border-radius: 5px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}
.swiper__btn button {
  padding: 10px;
  background-color: white;
  cursor: pointer;
}
.swiper__btn span {
  border-left: 2px solid #f5f5f5;
  height: 28px;
}
.swiper__person {
  align-self: stretch;
  width: 612px;
  border-radius: 50%;
  /* border: 1px solid black; */
  transform: scale(1, 1.5);
  /* z-index: 10; */
  overflow: hidden;
  box-sizing: border-box;
}

.swiper__img {
  height: 100%;
  width: 100%;
  background: url("../images/Пекарь.png") center no-repeat;
  background-size: cover;
  transform: scale(-1, 0.7);
}

.cart_job {
  width: 350px;
  height: 480px;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}
.job__profession_tovaroved {
  background: url("../images/personJob/Товаровед.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
}
.job__profession_voditel {
  background: url("../images/personJob/Водитель.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
}
.job__profession_pekar {
  background: url("../images/personJob/пекарь.png") no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 100%;
  width: 100%;
}
.job__profession_kassir {
  background: url("../images/personJob/кассир.png") no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 100%;
  width: 100%;
}
.job__profession_prodavec {
  background: url("../images/personJob/продавец.png") no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 100%;
  width: 100%;
}
.job__profession_povar {
  background: url("../images/personJob/повар.png") no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 100%;
  width: 100%;
}
.job__profession_priemshik {
  background: url("../images/personJob/приемщик.png") no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 100%;
  width: 100%;
}

.cart_job button {
  font-size: 24px;
  padding: 12px 16px;
  border-radius: 30px;
  background-color: white;
  font-weight: 500;
  margin: 24px 0 0 24px;
}

.job h2 {
  font-size: 32px;
}

.job__nav {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  justify-content: space-between;
}

.swiper-wrapper {
  margin-left: 165px;
  margin-bottom: 75px;
}
.swiper-wrapper {
  cursor: grab;
}

.instagram h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}
.instagram {
  margin-bottom: 69px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 255px 255px;
  gap: 30px;
  margin-bottom: 30px;
}
.grid div {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.grid .one {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.instagram button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0;
  border-radius: 8px;
}

.map_yandex h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}
.map_yandex {
  margin-bottom: 72px;
}
.map_yandex #map {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 530px;
  padding: 0;
  margin: 0;
}
[class*="copyrights-pane"] {
  display: none !important;
}
.baloon_name {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
#map {
  position: relative;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
.map__buttons {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btn__all {
  font-size: 18px;
  font-weight: 500;
  background-color: #ffdf31;
  padding: 10px 15px;
  border-radius: 8px;
}
.btn__yr {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  background-color: white;
  border-radius: 8px;
}
.btn__fiz {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  background-color: white;
  border-radius: 8px;
}

footer {
  background-color: #f5f5f5;
  padding: 73px 0 0 0;
}

.footer__elements {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
}
.footer__logo h2 {
  font-size: 20px;
  font-weight: 500;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__share {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.footer__politics {
  padding: 24px 0 32px 0;
  display: flex;
  gap: 487px;
  font-size: 14px;
}
.footer__politics p {
  font-weight: 500;
}
.footer__politics button {
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
}
