/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

body {
  font-family: "Euclid Circular B";
  font-weight: 500;
  overflow-x: hidden;
}

header {
  padding: 32px 0;
}

.container {
  margin: 0 165px;
}
.container__map {
  margin: 0 165px;
}
.header__phone {
  display: none;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo h2 {
  font-size: 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__connection a {
  transition: all 0.5s;
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.header__connection .btn__form {
  transition: all 0.5s;
}
.header__connection a:hover {
  opacity: 0.6;
  color: rgb(86, 84, 84);
}
.header__connection .btn__form:hover {
  opacity: 0.8;
  box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
.header__connection .btn__form {
  margin-left: 32px;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #ffdf31;
}
.sticky__block {
  display: none;
}

.greetings {
  background-color: #f5f5f5;
  margin-bottom: 72px;
}
.greetings h1 {
  font-size: 72px;
  font-weight: 500;
  width: 445px;
}

.swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.greetings .container {
  margin: 0 330px 0 0;
}
.swiper .active {
  transform: rotate(180deg);
}
.swiper__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 62px;
  margin: 48px 0;
}
.swiper__btn {
  display: flex;
  justify-content: space-between;
  width: 88px;
  border-radius: 5px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}

.swiper__btn button {
  padding: 10px;
  background-color: white;
  cursor: pointer;
}
.swiper__btn span {
  border-left: 2px solid #f5f5f5;
  height: 28px;
}
.swiper__btn_next,
img {
  transition: all 0.2s ease-out;
}
.swiper__btn_prev,
img {
  transition: all 0.2s ease-out;
}
.swiper__btn_next img:hover {
  transform: scale(1.3);
}
.swiper__btn_prev img:hover {
  transform: scale(1.3);
}

.btn__right_slide img {
  transition: all 0.2s ease-out;
}
.btn__left_slide img {
  transition: all 0.2s ease-out;
}
.btn__right_slide img:hover {
  transform: scale(1.3);
}
.btn__left_slide img:hover {
  transform: scale(1.3);
}
.swiper__person {
  align-self: stretch;
  width: 612px;
  border-radius: 50%;
  transform: scale(1, 1.5);
  overflow: hidden;
  box-sizing: border-box;
}
.greetings__proffesion {
  z-index: 10;
  font-size: 24px;
  background-color: white;
  padding: 12px 16px;
  display: inline-block;
  position: relative;
  top: 71px;
  left: 94px;
  transform: scale(-1, 1);
  border-radius: 25px;
}
.perenosTitle {
  display: none;
}
.greetings__name {
  z-index: 10;
  font-size: 24px;
  background-color: white;
  padding: 12px 16px;
  display: inline-block;
  position: relative;
  top: 300px;
  left: 200px;
  transform: scale(-1, 1);
  border-radius: 25px;
}
.greetings__name.woman {
  transform: scale(0.8, 0.65);
  top: 100px;
  left: 180px;
}
.greetings__proffesion.woman {
  transform: scale(0.8, 0.65);
  top: 280px;
  left: 250px;
}
.swiper__img {
  height: 100%;
  width: 100%;
  background: url("../images/Пекарь.png") center no-repeat;
  background-size: cover;
  transform: scale(-1, 0.7);
}
.swiper__img.women {
  height: 100%;
  width: 100%;
  background: url("../images/ДевушкаПродавец.png") left no-repeat;
  background-position-x: -50px;
  background-position-y: 40px;
  background-size: 100%;
  transform: scale(1.3, 1);
}

.cart_job {
  max-width: 350px;
  height: 480px;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}
.job__profession_tovaroved {
  background: url("../images/personJob/Товаровед.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 85%;
  width: 100%;
}
.job__profession_voditel {
  background: url("../images/personJob/Водитель.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 85%;
  width: 100%;

  transform: scale(1);
}
.job__profession_pekar {
  background: url("../images/personJob/пекарь.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 85%;
  width: 100%;
}
.job__profession_kassir {
  background: url("../images/personJob/кассир.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  /* background-position-y: 20px; */
  height: 92%;
  width: 100%;
  transform: scale(1);
}
.job__profession_prodavec {
  background: url("../images/personJob/продавец.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 86%;
  width: 100%;
  transform: scale(0.95);
}
.job__profession_povar {
  background: url("../images/personJob/повар.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 85%;
  width: 100%;
}
.job__profession_priemshik {
  background: url("../images/personJob/приемщик.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 85%;
  width: 100%;
}
.swiper__btn_prev,
img {
  z-index: 21;
  position: relative;
}

.cart_job button {
  font-size: 24px;
  padding: 12px 16px;
  border-radius: 30px;
  background-color: white;
  font-weight: 500;
  margin: 24px 0 0 24px;
}

.job h2 {
  font-size: 32px;
  font-weight: 500;
}

.job__nav {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  justify-content: space-between;
}

.swiper-wrapper {
  margin-left: 165px;
  margin-bottom: 75px;
}
.swiper-wrapper {
  cursor: grab;
}

.instagram h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}
.instagram {
  margin-bottom: 69px;
}
.header__logo h2 {
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 255px;
  gap: 30px;
  grid-auto-flow: row;
  margin-bottom: 30px;
}
.grid div {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.grid div:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.instagram button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0;
  border-radius: 8px;
}
main .mySwiper {
  margin-left: 165px;
}
main .swiper-wrapper {
  margin-left: 0;
}

.map_yandex h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
}
.map_yandex {
  margin-bottom: 72px;
}
.map_yandex #map {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 530px;
  padding: 0;
  margin: 0;
}
[class*="copyrights-pane"] {
  display: none !important;
}
.baloon_name {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
#map {
  position: relative;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
.map__buttons {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.map__zoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  background-color: white;
  bottom: 24px;
  padding: 8px 10px;
  right: 24px;
  border-radius: 8px;
}
.map__zoom span {
  border: 1px solid #f5f5f5;
  opacity: 1;
  display: block;
  margin: 12px 0 12px 0;
}
.map__zoom button {
  background-color: white;
}
.map__zoom img:hover {
  transform: scale(1.2);
}
.map__buttons button {
  transition: all 0.3s ease-out;
}
.map__buttons button:hover {
  transform: scale(1.04);
}
.btn__all {
  font-size: 18px;
  font-weight: 500;
  background-color: #ffdf31;
  padding: 10px 15px;
  border-radius: 8px;
}
.btn__yr {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  background-color: white;
  border-radius: 8px;
}
.btn__fiz {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  background-color: white;
  border-radius: 8px;
}

footer {
  background-color: #f5f5f5;
  padding: 73px 0 0 0;
  position: relative;
}

.footer__elements {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
}
.footer__logo h2 {
  font-size: 20px;
  font-weight: 500;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__share {
  font-size: 20px;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-out;
}

.footer__politics {
  padding: 24px 0 32px 0;
  display: flex;
  font-size: 14px;
}
.footer__politics p {
  font-weight: 500;
  margin-right: 160px;
}
.footer__politics button {
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-out;
  margin: 0 auto;
}

.footer__politics button:hover {
  transform: scale(1.01);
}

.footer__share:hover {
  transform: scale(1.01);
}

.popup {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup.active .popup__body {
  animation: popup 1s;
}
.popup__body {
  min-height: 100%;
  padding: 72px 145px 72px 165px;
}
@keyframes popup {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.popup__content {
  border-radius: 8px;
  background-color: white;
}
.popup__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 500;
  padding: 30px 33px 0 95px;
}

.popup__title {
  display: none;
}
.popup__title.active {
  display: block;
}
.popup__header.active {
  z-index: 200;
  position: sticky;
  overflow: hidden;
  background-color: white;
  top: 0;
  justify-content: space-between;
  padding: 30px 33px 30px 95px;
}
.popup__header button {
  background-color: white;
}
.greetings .swiper-wrapper {
  margin-bottom: 0;
}

.popup__header button {
  background-color: white;
  transition: all 0.3s ease-out;
}
.popup__header button:hover {
  transform: scale(1.1);
}

.main__content {
  margin: 16px 95px 0 95px;
}
.main__content h1 {
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 48px;
}
.section__content {
  margin-bottom: 48px;
}
.section__title {
  margin-bottom: 24px;
  font-size: 18px;
}
.section__content p {
  font-size: 14px;
  font-weight: 400;
}
.section__attention {
  margin-top: 20px;
  opacity: 0.5;
}
.section__content:last-child p {
  padding-bottom: 72px;
}

@media (max-width: 1432px) {
  .container {
    margin: 0 80px;
  }
  .container__map {
    margin: 0 80px;
  }
  .swiper-wrapper {
    margin: 0 0 75px 80px;
  }
  main .mySwiper {
    margin-left: 80px;
  }

  .swiper-wrapper .container {
    margin-right: 160px;
  }
}
@media (max-width: 1195px) {
  .popup__body {
    padding: 72px 40px;
  }
  .greetings__name.woman {
    transform: scale(0.8, 0.65);
    top: 100px;
    left: 140px;
  }
  .greetings__proffesion.woman {
    transform: scale(0.8, 0.65);
    top: 280px;
    left: 170px;
  }
}
@media (max-width: 1100px) {
  .cart_job {
    max-width: 300px;
    height: 410px;
  }
  .container {
    margin: 0 39px;
  }
  .container__map {
    margin: 0;
  }
  .container__map h2 {
    margin-left: 39px;
  }
  .swiper-wrapper {
    margin: 0 0 75px 80px;
  }
  .swiper-wrapper .container {
    margin-right: 160px;
  }
  main .mySwiper {
    margin-left: 39px;
  }

  .map_yandex {
    margin-bottom: 0;
  }

  .greetings .container {
    margin: 0 39px;
  }
  .greetings .swiper-wrapper {
    margin: 0;
  }
}

@media (max-width: 1016px) {
  .popup__header.active {
    padding: 32px 24px;
  }
  .main__content h1 {
    margin-top: -22px;
  }
  .main__content {
    margin: 0 24px;
  }
  .greetings .container {
    margin: 0 0 0 39px;
  }
  .greetings .woman__title {
    font-size: 60px;
  }
  .swiper__nav.woman {
    margin: 66px 0;
  }
  .greetings__name.woman {
    transform: scale(0.8, 0.65);
    top: 80px;
    left: 170px;
  }
  .greetings__proffesion.woman {
    transform: scale(0.8, 0.65);
    top: 260px;
    left: 160px;
  }
  .swiper__nav {
    gap: 30px;
  }
  .greetings h1 {
    max-width: 350px;
  }
  .grid {
    display: grid;
    gap: 30px;
    grid-template-rows: 330px;
    grid-auto-rows: 210px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row;
    /* grid-auto-columns: 1fr 1fr 1fr; */
    margin-bottom: 30px;
  }
  .grid div:first-child {
    grid-column: span 3;
    grid-row: 1 / 2;
  }
  .grid div:first-child + div {
    grid-column: span 3;
  }
  .grid div {
    grid-column: span 2;
  }
}

@media (max-width: 890px) {
  .greetings__proffesion {
    left: 120px;
    top: 50px;
  }
  .greetings__name {
    left: 160px;
  }
  .swiper__img {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    background: url("../images/Пекарь.png") center no-repeat;
    background-size: cover;
    transform: scale(-1, 0.7);
  }
  .swiper__img.women {
    height: 100%;
    width: 100%;
    background: url("../images/ДевушкаПродавец.png") center no-repeat;
    background-position-x: -125px;
    background-position-y: 40px;
    background-size: cover;
    transform: scale(1.4, 1);
  }
  .greetings__name.woman {
    left: 90px;
  }
  .greetings__proffesion.woman {
    top: 260px;
    left: 70px;
  }
  .greetings .woman__title {
    font-size: 60px;
  }
  .swiper__person {
    align-self: stretch;
    width: 500px;
    height: 100%;
    border-radius: 50%;
    transform: scale(1, 1.5);
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;

    top: 0;
    right: -100px;
  }
  .greetings .swiper {
    position: relative;
  }
  .swiper__nav.woman {
    margin: 66px 0;
  }
}

@media (max-width: 765px) {
  .job__btn {
    display: none;
  }
  .greetings .swiper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .swiper__nav {
    gap: 0;
    margin: 0;
    width: 100%;
  }
  .greetings h1 {
    max-width: 100%;
    width: 100%;
    font-size: 48px;
    text-align: center;
    margin-top: 48px;
    z-index: 20;
    overflow: hidden;
    margin-bottom: 48px;
  }
  .greetings h1 br {
    display: none;
  }
  .greetings .container {
    margin: 0;
  }
  .swiper__btn {
    display: none;
  }
  .swiper__nav.woman {
    margin: 0;
  }
  .greetings .woman__title {
    z-index: 20;
    overflow: hidden;
    font-size: 48px;
    background-color: #f5f5f5;
  }
  .swiper__nav.woman {
    background-color: #f5f5f5;
  }
  .swiper__nav {
    background-color: #f5f5f5;
    z-index: 101;
    overflow: hidden;
  }
  .swiper__person {
    width: 100%;
    height: 426px;
    position: static;
    border-radius: 50% 50% 0 0;
    transform: none;
    align-self: stretch;
    transform: scale(1, 1);
    overflow: hidden;
    box-sizing: border-box;
    z-index: 20;
    display: block;
    align-self: flex-end;
  }
  .swiper__img {
    height: 100%;
    width: 100%;
    background: url("../images/Пекарь.png") center no-repeat;
    background-size: cover;
    transform: scale(-1, 1);
  }
  .swiper__img.women {
    height: 110%;
    width: 100%;
    background: url("../images/ДевушкаПродавец.png") center no-repeat;
    /* background-position-x: 50px; */
    /* background-position-y: 0; */
    background-size: cover;
    transform: scale(1, 1);
    z-index: 1;
  }
  .greetings__name.woman {
    transform: scale(1, 1);
    top: 100px;
    left: 180px;
  }
  .greetings__proffesion.woman {
    transform: scale(1, 1);
    top: 340px;
    left: 50px;
  }
  .swiper__img.women {
    overflow: hidden;
  }
  .swiper__nav.woman {
    overflow: hidden;
    z-index: 21;
  }
}

@media (max-width: 700px) {
  .sticky__block {
    padding: 0 16px;
    position: sticky;
    top: 18px;
    z-index: 201;
  }
  .sticky__form {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #ffdf31;
    font-size: 18px;
    color: black;
    padding: 12px 0;
    text-align: center;
    border-radius: 8px;
    z-index: 201;
  }
  .sticky__block.active {
    display: block;
  }
  .footer__politics {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .footer__politics button {
    text-align: left;
    margin: 0;
  }
  .header__phone {
    display: block;
  }
  .header__connection {
    display: none;
  }
}
@media (max-width: 600px) {
  .instagram {
    margin-bottom: 48px;
  }
  header {
    padding: 24px 0;
  }
  .greetings {
    margin-bottom: 48px;
  }
  main .mySwiper {
    margin-left: 14px;
  }
  .popup__header.active {
    padding: 21px 32px 21px 14px;
  }
  .popup__body {
    padding: 0;
  }
  .main__content h1 {
    margin-top: 5px;
    margin-bottom: 32px;
    font-size: 48px;
  }
  .main__content {
    margin: 0 14px;
  }
  .popup__content {
    border-radius: 0;
  }
  .section__content {
    margin-bottom: 0;
  }
  .section__content:last-child p {
    padding-bottom: 30px;
  }
  .popup__title.active {
    font-size: 20px;
  }

  footer {
    padding: 48px 0 0 0;
  }
  .greetings h1 .perenosTitle {
    display: block;
  }
  .greetings .woman__title {
    display: block;
    margin-left: 14px;
    text-align: left;
  }
  .greetings h1 {
    display: block;
    margin-left: 14px;
    text-align: left;
  }

  .container__map h2 {
    margin-left: 14px;
  }

  .cart_job {
    max-width: 252px;
    height: 344px;
  }
  .container {
    margin: 0 14px;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .grid div {
    width: 100%;
    height: 346px;
  }
}
@media (max-width: 505px) {
  .footer__elements {
    border-radius: 0;
  }
  footer .container {
    margin: 0;
  }
  .footer__elements {
    padding: 24px 14px;
  }
  .footer__politics {
    margin-left: 15px;
  }
  .footer__elements .footer__share {
    display: none;
  }
}
@media (max-width: 427px) {
  .swiper-wrapper {
    margin-bottom: 48px;
  }
  .greetings__name.woman {
    transform: scale(0.7, 1);
    top: 100px;
    left: 40px;
  }
  .greetings__proffesion.woman {
    transform: scale(0.7, 1);
    top: 340px;
    left: -70px;
  }
  .greetings__name {
    top: 300px;
    left: 60px;
  }
  .greetings__proffesion {
    top: 50px;
    left: 120px;
  }
  .cart_job {
    margin: 0 auto;
  }
}
@media (max-width: 505px) {
  footer .container {
    margin: 0;
  }
  .footer__elements {
    padding: 24px 14px;
  }
  .footer__politics {
    margin-left: 15px;
  }
  .footer__elements .footer__share {
    display: none;
  }
}
@media (max-width: 427px) {
  .greetings__name.woman {
    transform: scale(0.7, 1);
    top: 100px;
    left: 40px;
  }
  .greetings__proffesion.woman {
    transform: scale(0.7, 1);
    top: 340px;
    left: -70px;
  }
  .greetings__name {
    top: 300px;
    left: 60px;
  }
  .greetings__proffesion {
    top: 50px;
    left: 120px;
  }
  .cart_job {
    margin: 0 0;
  }
}
@media (max-width: 400px) {
  .swiper {
  }
  main .mySwiper {
    margin: 0;
  }
}
